
ul#menu {
    padding: 0;
    margin-bottom: 0px;
	margin-left:0px;
}

ul#menu li {
    display: inline;
	background-color:red;
    /* margin-right: 0px; */
}

ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: red;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: black;
    background-color: red;
}
body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
	font-style:italic;
    background-color: white; 
    color: #696969;
    padding: 3px;
}

#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: black;
    border-radius: 0 0 5px 5px;
}

h1 {
    font-family: Georgia, serif;
    /* border-bottom: 3px solid #cc9900; */
    color: red;
    font-size: 50px;
}
verticalLine {
    border-left: thick solid #ff0000;
}
body {
    background-image: url("food2");
    background-color: white;
}
inlineTable {
            display: inline-block;
        }

.dropzone {
	width:300px;
	height:300px;
	border:2px dashed #ccc;
	color:red;
	line-height:300px;
	text-align:center;
}
.dropzone.dragover {
	border-color:#000;
	color:#000;
}

